/*rating*/

.rating {
    font-size: 10px;
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}

.rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/Content/images/star.png') 0 -16px;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/Content/images/star.png') 0 -16px;
}
/*end rating*/

/*radio*/
.custom-radio {
    clear: both;
}

    .custom-radio label {
        width: 200px;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
    }

    /* hide input */
    .custom-radio input.radio:empty {
        margin-left: -999px;
    }

        /* style label */
        .custom-radio input.radio:empty ~ label {
            position: relative;
            text-indent: 3.25em;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .custom-radio input.radio:empty ~ label:before {
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                content: '';
                width: 2.5em;
                background: #D1D3D4;
                border-radius: 3px 0 0 3px;
            }

    /* toggle hover */
    .custom-radio input.radio:hover:not(:checked) ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
    }

    .custom-radio input.radio:hover:not(:checked) ~ label {
        color: #888;
    }

    /* toggle on */
    .custom-radio input.radio:checked ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #9CE2AE;
        background-color: #4DCB6D;
    }

    .custom-radio input.radio:checked ~ label {
        color: #777;
    }

    /* radio focus */
    .custom-radio input.radio:focus ~ label:before {
        box-shadow: 0 0 0 3px #999;
    }

/*end radio*/

body {
    margin-top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: whitesmoke;
    font-weight: normal;
    color: #999;
}

.talk {
    background-color: white;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    display: block;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 4px;
    margin: 2px 0 10px 0;
}

#confirm {
    position: fixed;
    _position: absolute;
    _margin-bottom: 0;
    _margin-right: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.panel-body {
    background-color: whitesmoke;
}

.toggle-button {
    width: 32px;
    margin-bottom: 10px;
}

#logo {
    margin-top: 15px;
}
