<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="vote, devday, talks">
    <meta name="author" content="renato.saito">
    <title>DevDay - Vote</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts")
</body>
</html>
